In [3]:
import pandas as pd

# Load the Excel file
file_path = r"C:\Users\FIVE\Desktop\new_matrix.csv"
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
df.head()

    3465 1 1
0  19758 1 1
1  32196 2 1
2   6158 3 1
3  30071 4 1
4  31418 5 1

In [4]:
# Split the data into separate columns
df_split = df.iloc[:, 0].str.split(expand=True)

# Assign column names for clarity
df_split.columns = ['Column1', 'Column2', 'Column3']

# Display the new dataframe
# import ace_tools as tools; tools.display_dataframe_to_user(name="Split DataFrame", dataframe=df_split)
df_split.head()

  Column1 Column2 Column3
0   19758       1       1
1   32196       2       1
2    6158       3       1
3   30071       4       1
4   31418       5       1

In [5]:
df_split.to_csv(r"C:\Users\FIVE\Desktop\new_matrix_split.csv")